<!DOCTYPE html>
<html ng-app="pelotonApp">
  <head>
  <style>

  </style>
    <base target="_top">
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<script>
angular.module('pelotonApp', [])
  .controller('PelotonUserController', function($scope, $httpParamSerializer) {
    var pelotonController = this;
    pelotonController.loading=false;
    pelotonController.competitions=JSON.parse("<?= JSON.stringify(getCompetitions()) ?>");
    pelotonController.competition=null;
 
    
 pelotonController.displayResultsSheet=function(){
     google.script.run.displayResultsSheet();

 };
 
     pelotonController.displaySelectedRide=function(){
       google.script.run.displaySelectedRide();
    };
    
 
    pelotonController.displaySelectedUser=function(){
       google.script.run.displaySelectedUser();
    };
    
     
   pelotonController.refreshFriends=function(){
       if(window.confirm("Refresh followers/following list?"))
       google.script.run.refreshFriends();
    };
    
    pelotonController.followUsers=function(){
       if(window.confirm("Follow selected leaderboard names?")){
         pelotonController.loading=true;
          google.script.run.withSuccessHandler(function(result){ 
          if(result){
          pelotonController.loading=false;
          }
          }).followSelectedUsers();
       }
    };
    
      
    pelotonController.incrementalPull=function(){
        if(!pelotonController.competition){ window.alert("Please select an event/week to load incrementally."); return;}
        if(!window.confirm("Are you sure you want to load? This could take 2-3 minutes. Look at system log for progress")) return;
         pelotonController.loading=true;
        google.script.run.withSuccessHandler(function(result){ 
          if(result){
          pelotonController.loading=false;
          $scope.$digest();          
          if(result.competition)
            alert("Loaded a total of "+result.workouts +"workouts from "+result.rides+"rides in "+ result.competition);
          else alert("No active event found");
        }
      }).incrementallyPullRidesForCompetition(pelotonController.competition);
    };
    
  });
</script>
</head>
  <body ng-controller="PelotonUserController as peloton"  >
<div class="card" style="width: 18rem;">
   <div class="card-header">Find Users</div>
  <div class="card-body">
     <h3>Utilities</h3>
     To use this page, you will need to select a row in the results tab, and then click one of the buttons below
     
     <br><br>
              <button  ng-click="peloton.displaySelectedUser()" class="badge badge-pill badge-secondary">Display Selected User</button>

     <br><br>
              <button  ng-click="peloton.displaySelectedRide()" class="badge badge-pill badge-secondary">Display Selected Ride</button>
              
              
      <br><br> <button  ng-click="peloton.refreshFriends()" class="badge badge-pill badge-secondary">Refresh Followers/Following list</button>
              
          <br><br> <button  ng-click="peloton.followUsers()" class="badge badge-pill badge-secondary">Follow Selected Leaderboard Names/IDs</button>
         
      <br><br>
              <button  ng-disabled="peloton.loading" ng-click="peloton.incrementalPull()" class="badge badge-pill badge-secondary">Incrementally Pull Week/Event</button>
                <label for="competitionSelect"> Race/Event (Required): </label>
              <select name="competitionSelect" id="competitionSelect" ng-model="peloton.competition">
                <option ng-repeat="comp in peloton.competitions |orderBy:'comp.Start.getTime()':reverse" value="{{comp.Name}}">{{comp.Name}}</option>
              </select>
              
              <div   ng-if="peloton.loading"  style="text-align:center"> <i  class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
              <br/><small class="danger">This could take 2-3 minutes. Please be looking at System Log for progress. Note that right now rides are capped at the Days-old (see config tab), not week boundries. This will be fixed in due time </small>



   </div>
   <div class="card-footer">
     
     
</div>
</div>
     

 
</body>
</html>

