<!DOCTYPE html>
<html ng-app="pelotonApp">
  <head>
  <style>

  </style>
    <base target="_top">
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
angular.module('pelotonApp', [])
  .controller('PelotonUserController', function($scope, $httpParamSerializer) {
    var userController = this;
    userController.profile=JSON.parse("<?=  JSON.stringify(getUserProfile(user_id)) ?>");
    userController.overview=JSON.parse("<?=  JSON.stringify(getUserOverview(user_id)) ?>");
    /*userController.loadWorkoutsForRide=function(user_id){
     google.script.run.loadRaceResults(ride_id);
    };*/
    });
</script>
</head>

  <body ng-controller="PelotonUserController as peloton">
 <div class="card bg-dark text-white">
    <img src="{{peloton.profile.image_url}}" style="max-width:300px" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h4 class="card-title">{{peloton.profile.username}}</h4>
      <h5 class="card-title">{{peloton.profile.location}}</h5>
      <!--<p class="card-text">{{peloton.ride.original_air_time*1000 | date:"yyyy-MM-dd HH:mma"}}</p>-->
    </div>
  </div>

<div class="container">
  <div class="row mx-md-n3 mt-3">
    <div class="col col-md-4 px-md-n2">
         <div class="card">
        <div class="card-body">
      <h3>Workouts</h3>
      <p class="card-text"> {{peloton.overview.workout_counts.total_workouts}} Total Workouts</p>
      <ul>
       <li ng-repeat="category in peloton.overview.workout_counts.workouts">
          <b>{{category.name}}:</b> {{category.count}}
      </li>
      </ul>
      <h3>Streaks</h3>
      {{ peloton.overview.streaks.current_weekly}} weeks.
      
           </div>
       </div>
    </div>
    <div class="col col-md-4 px-md-n2">
      <div class="card">
        <div class="card-body">
              <h3>Personal Records</h3>

         <ul>
       <li ng-repeat="pr in peloton.overview.personal_records ">
          <b>{{pr.name}}:</b> {{count}}
          <ul>
            <li ng-repeat="record in pr.records ">
               <b>{{record.name}}:</b> {{record.value}} {{record.unit}} <!-- small class="text-muted">{{record.workout_date  | date:"yyyy-MM-dd HH:mma"}}</small-->
            </li>
          </ul>
       </li>
      </ul>
      </div>
       </div>
       
       
    </div>
    <div class="col col-md-4 px-md-n2" >
      <div class="card">
         <div class="card-body">
         <h3>Badges</h3>
        <p class="card-text">  
        <span ng-repeat="a in peloton.overview.achievement_counts.achievements">
          <img src="{{a.template.image_url}}" style="max-width:50px; max-height:50px;" title="{{a.count}} times. {{a.template.name}} ({{a.template.description}})"/>
        </span>
        </p>
        </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
